.chart {
  flex: 4;
  box-shadow: 2px 4px 10px 1px rgb(191, 174, 174);
  padding: 10px;
  border-radius: 10px;
  color: #888;

  .title {
    margin-bottom: 20px;
  }

  .chatGrid {
    stroke: rgba(247, 241, 241, 0.74);
  }
}
